@charset "utf-8";
/* CSS Document */

h2 {
	font-family: Candara, Constantia, Times, serif;
	font-size: 35px;
}

#tabelao {
	text-align:right;
	background: #fff;
	width: 50%;
	border: 30px solid #fff;
	border-radius: 30px;
	margin-top: 20px;
}

p {
	font-size: 18px;
}

.caixa {
	width: 100px;
	font-size: 15px;
}

#bt_enviar {
	font-size: 18px;
	color: #fff;
	background: #0072bc;
	float:right;
	padding: 10px 5px 10px 5px;
}

#bt_limpar {
	font-size: 18px;
	float:left;
	padding: 10px 5px 10px 5px;
}

#coe {
	text-align: left;
}